<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p4projectdaniel">

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="@string/google_maps_key" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_final"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_final"
        android:supportsRtl="true"
        android:theme="@style/Theme.P4ProjectDaniel">
        <activity android:name=".kort_activity"></activity>
        <activity android:name=".ItemForSaleActivity" />
        <activity android:name=".BuyActivity" />
        <activity
            android:name=".BottomNavActivity"
            android:label="@string/title_activity_bottom_nav" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>